In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset\\Titanic.csv')

In [4]:
df

                                                                                                                                                                          <<<<<<< HEAD
PassengerId                                      Survived Pclass Name                                               Sex    Age SibSp Parch Ticket           Fare    Cabin     Embarked
1                                                0        3      Braund, Mr. Owen Harris                            male   22  1     0     A/5 21171        7.25    NaN              S
2                                                1        1      Cumings, Mrs. John Bradley (Florence Briggs Tha... female 38  1     0     PC 17599         71.2833 C85              C
3                                                1        3      Heikkinen, Miss. Laina                             female 26  0     0     STON/O2. 3101282 7.925   NaN              S
4                                                1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)       female 35  1     0     113803           53.1    C123             S
...                                                                                                                                                                                ...
888                                              1        1      Graham, Miss. Margaret Edith                       female 19  0     0     112053           30      B42              S
889                                              0        3      Johnston, Miss. Catherine Helen "Carrie"           female NaN 1     2     W./C. 6607       23.45   NaN              S
890                                              1        1      Behr, Mr. Karl Howell                              male   26  0     0     111369           30      C148             C
891                                              0        3      Dooley, Mr. Patrick                                male   32  0     0     370376           7.75    NaN              Q
>>>>>>> f6a70b12ec9073c7d926c6c07f9243c65ab24239 NaN      NaN    NaN                                                NaN    NaN NaN   NaN   NaN              NaN     NaN            NaN

[1786 rows x 1 columns]

In [8]:
# Drop irrelevant columns
dff = df[df["Survived", "Pclass", "Sex", "Age", "Embarked"]]

KeyError: ('Survived', 'Pclass', 'Sex', 'Age', 'Embarked')

In [9]:


# Drop missing values
df = df.dropna()

# Encode categorical variable
df["Sex"] = df["Sex"].map({"male": 0, "female": 1})
df["Embarked"] = df["Embarked"].map({"C":0, "Q":1, "S":2})

KeyError: 'Sex'

In [10]:
df

                                                                                                                                     <<<<<<< HEAD
PassengerId Survived Pclass Name                                               Sex    Age SibSp Parch Ticket           Fare    Cabin     Embarked
1           0        3      Braund, Mr. Owen Harris                            male   22  1     0     A/5 21171        7.25    NaN              S
2           1        1      Cumings, Mrs. John Bradley (Florence Briggs Tha... female 38  1     0     PC 17599         71.2833 C85              C
3           1        3      Heikkinen, Miss. Laina                             female 26  0     0     STON/O2. 3101282 7.925   NaN              S
4           1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)       female 35  1     0     113803           53.1    C123             S
...                                                                                                                                           ...
887         0        2      Montvila, Rev. Juozas                              male   27  0     0     211536           13      NaN              S
888         1        1      Graham, Miss. Margaret Edith                       female 19  0     0     112053           30      B42              S
889         0        3      Johnston, Miss. Catherine Helen "Carrie"           female NaN 1     2     W./C. 6607       23.45   NaN              S
890         1        1      Behr, Mr. Karl Howell                              male   26  0     0     111369           30      C148             C
891         0        3      Dooley, Mr. Patrick                                male   32  0     0     370376           7.75    NaN              Q

[1780 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X = df[["Pclass", "Sex", "Age","Embarked"]]
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestClassifier()
model.fit(X_train, y_train)
# model.fit(X,y)

KeyError: "None of [Index(['Pclass', 'Sex', 'Age', 'Embarked'], dtype='object')] are in the [columns]"

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

In [ ]:
import matplotlib.pyplot as plt

importances = model.feature_importances_
features = X_train.columns

plt.barh(features, importances)
plt.xlabel("Feature Importance")
plt.title("Random Forest Feature Importance")
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

cm = confusion_matrix(y_test, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()